<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title>Gestion BAME</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<link rel="stylesheet" th:href="@{/css/stilosBAME.css}"></link>

</head>
<body>
	<header th:replace="layout/plantilla :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/prestamo/guardar}" th:object="${prestamo}"
					method="post">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Descripcion</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{descripcion}" class="form-control"/><small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('descripcion')}"
								th:errors="*{descripcion}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Observacion</label>
						<div class="col-sm-6">
							<textarea th:field="*{observacion}" class="form-control"></textarea>
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('observacion')}"
								th:errors="*{observacion}"></small>
						</div>
					</div>

					<div class="form-group row" id="id_seleccion">
						<label class="col-sm-2 col-form-label"> Tipo</label>
						<div class="col-sm-3">
							<select class="form-control" id="seleccion">
								<option value="" selected="selected">--seleccione--</option>
								<option th:each="material: ${materiales}"
									th:value="${material.id}" th:text="${material.nombre}"></option>
							</select>
						</div>
					</div>
					
					<table th:replace="prestamo/plantilla-items :: itemsFactura"></table>

					<table id="cargarItemProductos"
						class="table table-sm table-striped table-hover mt-4">

						<thead>
							<tr>
								<th>ID</th>
								<th>NOMBRE</th>
							</tr>
						</thead>

						<tbody>


						</tbody>

					</table>

					<div class="form-group">

						<div class="col-sm-2">
							<input type="submit" value="Enviar" class="btn btn-secondary" />
						</div>
					</div>


				</form>

			</div>
		</div>
	</div>

	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script th:src="@{/js/bame.js}"></script>
</body>
</html>