<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title>Gestion BAME</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<link rel="stylesheet" th:href="@{/css/stilosBAME.css}"></link>

</head>
<body>
	<header th:replace="layout/plantilla :: header"></header>

	<section>

		<div class="container cabecera-titulo mb-2">
			<div class="row">
				<div class="col-12 text-center">
					<p class="display-3">Componentes BAME</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="card bg-light">
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-sm-6">
							<div class="text-left">
								<a th:href="@{/}" class="btn btn-light">&laquo; volver</a>
							</div>
						</div>
					</div>
					<form th:action="@{/prestamo/guardar}" th:object="${prestamo}"
						method="post">
						<div class="row mb-3">

							<div class="col-sm-6">aqui va la descripcion</div>
							<div class="col-sm-6">aqui la tabla</div>


						</div>
					</form>

				</div>
			</div>
		</div>


	</section>




	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script th:src="@{/js/bame.js}"></script>
</body>
</html>