@charset "ISO-8859-1";

/***
**********************************************
**************** HEADER **********************
**********************************************
***/
header {
	width: 100%;
	height: 100px;
}

.ejemplo {
	background: linear-gradient(#ffffff, #f0bd24) !important;
}

.navbar {
	box-shadow: 5px 5px 5px #000;
	width: 100%;
}

.nav-link {
	color: black !important;
}

.nav-link:hover {
	font-weight: bold;
	font-size: 1.2rem;
	border-bottom: 4px solid black;
}

/***
**********************************************
**************** SECTION **********************
**********************************************
***/
section {
	margin: 100px auto;
	width: 1200px;
	height: 600px;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.cabecera-titulo {
	
	-webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:  0 4px 2px -2px rgba(0, 0, 0, 0.13);
	box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.13);
}

.cabecera-tabla {
	border-bottom: 2px solid black;
}

.boton-registro{
	
	background: linear-gradient(#ffffff, #f0bd24) !important;
	color:black;
	font-weight: bold;
	
}

#divTablaPrestamos{
     overflow-y:scroll;
     height:150px;
     width:100%;
}

#cargarItemProductos th{
	
	width: 100px;
}


table.scroll tbody,
table.scroll thead { display: block; }

table.scroll {
    width: 100%;
    
}

table.scroll tbody {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

table.scrolldetalle tbody,
table.scrolldetalle thead { display: block; }

table.scrolldetalle {
    width: 100%;
    
}

table.scrolldetalle tbody {
    height: 70px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.ancho{
	
	width: 20%;
}
/***
**********************************************
**************** FOOTER **********************
**********************************************
***/
footer {
	bottom: 0px;
	width: 100%;
	height: 100px;
	margin-top: 50px;
	background-color: violet;
}