<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head"></head>
<body>
	<header th:replace="layout/plantilla :: header"></header>

	<section>

		<div class="container cabecera-titulo mb-2">
			<div class="row">
				<div class="col-12 text-center">
					<p class="display-3">Repertorio BAME</p>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="card bg-light">
			<div class="card-header"><p class="display-5 text-center">Nueva Marcha</p></div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-sm-6">
							<div class="text-left">
								<a th:href="@{/}" class="btn btn-light">&laquo; volver</a>
							</div>
						</div>
					</div>
					<div class="container">
						<form th:action="@{/repertorio/form}" th:object="${marcha}"
							method="post" enctype="multipart/form-data">

							<div class="row">
								<div class="col-12 text center">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">Nombre</label> <input
											type="text" th:field="*{nombre}" class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>

									</div>
								</div>
							</div>


						</form>


					</div>


				</div>
			</div>
		</div>

	</section>

	<header th:replace="layout/plantilla :: footer"></header>
</body>
</html>