<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head"></head>
<body>
	<header th:replace="layout/plantilla :: header"></header>
	<section>

		<div class="container cabecera-titulo mb-2">
			<div class="row">
				<div class="col-12 text-center">
					<p class="display-3">Componentes BAME</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="card bg-light">
				<div class="card-body">
					<div class="container">
						<div class="row">
							<div class="col-12 text-left">
								<a class="btn btn-info btn-xs text-white"
									th:href="@{'/prestamo/form/' + ${componente.id}}">Nuevo
									Prestamo</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 cabecera-titulo">
								<div class="row mt-4">
									<div class="col-md-4 ">
										<label class="col-form-label">Nombre</label>
									</div>
									<div class="col-md-4 ">
										<input class="form-control" th:value="${componente.nombre}"
											type="text" readonly>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-md-4">
										<label class="col-form-label">Apellidos</label>
									</div>
									<div class="col-md-4">
										<input class="form-control" th:value="${componente.nombre}"
											type="text" readonly>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-md-4">
										<label class="col-form-label">Direccion</label>
									</div>
									<div class="col-md-4">
										<input class="form-control" th:value="${componente.apellido}"
											type="text" readonly>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-md-4">
										<label class="col-form-label">DNI</label>
									</div>
									<div class="col-md-4">
										<input class="form-control" th:value="${componente.dni}"
											type="text" readonly>
									</div>
								</div>
								<div class="row mt-2">
									<div class="col-md-4">
										<label class="col-form-label">Fecha Alta</label>
									</div>
									<div class="col-md-4">
										<input class="form-control"
											th:value="${#calendars.format(componente.createAt, 'dd-MM-yyyy')}"
											type="text" readonly>
									</div>
								</div>
								<div class="row my-2">
									<div class="col-md-4">
										<label class="col-form-label">Instrumento</label>
									</div>
									<div class="col-md-4">
										<input class="form-control"
											th:value="${componente.instrumento.nombre}" type="text"
											readonly>
									</div>
								</div>


							</div>
							<div class="col-md-4 bg-primary" style="max-height: 300px;">col4</div>
						</div>
						<hr class="my-4">
						<div class="container">
							<div
								th:text="'El componente ' + ${componente.nombre} + ' no tiene asignado ningun prestamo'"
								th:if="${#lists.isEmpty(componente.prestamos)}"
								class="alert alert-info my-4"></div>

							<div class="row">
								<div class="col-12">
									<table th:if="${not #lists.isEmpty(componente.prestamos)}"
										class="table table-bordered table-striped my-4">
										<thead class="thead-dark">
											<tr>

												<th>Fecha</th>
												<th>Descripcion</th>
												<th>Observacion</th>
												<th>Ver</th>
												<th>Eliminar</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="prestamo: ${componente.prestamos}">
												<td
													th:text="${#calendars.format(prestamo.createAt, 'dd-MM-yyyy')}"></td>
												<td th:text="${prestamo.descripcion}"></td>
												<td th:text="${prestamo.observacion}"></td>
												<td><a class="btn btn-success rounded-circle"
													th:href="@{/prestamo/ver/} + ${prestamo.id}">Ver</a></td>
												<td><a class="btn btn-danger"
													th:href="@{/prestamo/eliminar/} + ${prestamo.id}"
													onclick="return confirm('Estas seguro de eliminar?')">Eliminar</a></td>
											</tr>
										</tbody>

									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</section>
	<header th:replace="layout/plantilla :: footer"></header>
</body>
</html>